/* Include common styles if any */
body {
    font-family: 'EB Garamond', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFBE29;
    color: #8D153A;
    padding: 1.5rem 2rem;
}

.header-title, #credits-intro h2, #credits h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
    color: #8D153A;
}

.header-container {
    justify-content: flex-start;
}

.header-logo img {
    max-height: 2.5rem;
    margin-right: 1.25rem;
}

.header-title {
    font-size: 2rem;
    margin: 0;
}

.header-nav {
    display: flex;
    gap: 2rem;
}

.header-nav a {
    text-decoration: none;
    color: #8D153A;
    transition: color 0.3s;
}

.header-nav a:hover {
    color: #00534E; 
}

#credits-intro {
    text-align: center;
    padding: 2rem;
}

.rounded-box {
    border-radius: .625rem;
    padding: 1.5rem;
    background-color: #ffffff;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    color: #8D153A;
}

.section-content {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

#credits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
}

.credits-box {
    overflow: hidden;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
}

.box-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title, .source {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    color: #555;
}

.title {
    color: #8D153A; /* Reddish font color */
    font-family: 'Playfair Display', sans-serif;
}

#contact-form {
    text-align: center;
    padding: 2rem;
}

#contact-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

#contact-form button {
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #555; /* Adjust button hover color */
}

/* Styling for the toggle button */
.toggle-button {
    display: block;
    width: 150px;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-button:hover {
    background-color: #555; /* Adjust button hover color */
}

/* Styling for the checkbox (hidden) */
#toggle-contact-form {
    display: none;
}

/* Styling for the form when the checkbox is checked */
#toggle-contact-form:checked + .rounded-box {
    display: block;
}


footer {
    text-align: center;
    padding: 1.25rem;
    background-color: #FFBE29;
    color: #8D153A;
    margin-top: 3rem;
}

/* Media Query for Responsive Design */

@media screen and (max-width: 768px) {
    .title, .source {
        font-size: 0.9rem;
    }
}
